* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

/* Première page spécifique */
.page1 {
}

.header {
  background-color: #34542a;
  color: #fff;
  text-align: center;
  padding: 40px;
  font: 400 36px/44px Roboto, sans-serif;
  border: 1px solid #fff;
  -webkit-text-stroke: 1px #fff;
  transform: rotate(-0.000060875441629213263rad);
  border-radius: 6px;
}

.nav-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 37px;
  font: 700 16px/1.4 sans-serif;
  transform: rotate(-0.0025819962313032197rad);
  text-align: center;
}

.nav-menu {
  display: flex;
  gap: 100px;
  max-width: 915px;
  list-style-type: none;
}

.nav-menu a {
  color: #000; 
  text-decoration: none; 
  font-size: 18px; 
  font-weight: 700; 
  transition: transform 0.3s ease, font-size 0.3s ease;
  display: inline-block; 
  white-space: nowrap; 
}

.nav-menu a:hover {
  transform: scale(1.2); 
  font-size: 22px; 
}

.acceuil {
  position: relative;
  min-height: 732px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 67px 80px;
  margin-bottom: 130px;
}

.imageacceuil {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.texteacceuil {
  max-width: 85%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.titreacceuil {
  color: #030000;
  font: 500 60px/72px sans-serif;
  -webkit-text-stroke: 1px #000;
  transform: rotate(-0.148deg);
  margin-top: -50px; 
}

.page2 {
  gap: 0px;
  display: flex;
}

.page2column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
  padding: 0;
}

.page2fond {
  background-color: #d4c6a1; 
  padding: 25px;
  border-radius: 6px; 
  height: 100%;
}

.headerpage3 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  letter-spacing: -0.48px;
  justify-content: center;
  padding: 100px 80px;
  font: 600 24px sans-serif;
}

.v220_2 {
  width: 100%;
  height: 760px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v232_2 {
  width: 741px;
  height: 760px;
  background: rgba(183, 164, 117, 0.3);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.v232_13 {
  width: 446px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 193px;
  left: 103px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v232_4 {
  width: 250px;
  height: 48px;
  background: rgba(52, 83, 41, 1);
  opacity: 1;
  position: absolute;
  top: 649px;
  left: 101px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v232_5 {
  width: 265px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 7px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.v232_6 {
  width: 386px;
  color: rgba(2, 0, 0, 1);
  position: absolute;
  top: 62px;
  left: 101px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 57px;
  opacity: 1;
  text-align: left;
}

.v232_9 {
  width: 699px;
  height: 760px;
  background: url("../images/v232_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 741px;
  overflow: hidden;
}
