html {
    scroll-behavior: smooth;
  }

.header {
    background-color: #34542a;
    color: #fff;
    text-align: center;
    padding: 40px;
    font: 400 36px/44px Roboto, sans-serif;
    border: 1px solid #fff;
    -webkit-text-stroke: 1px #fff;
    transform: rotate(-0.000060875441629213263rad);
    border-radius: 6px;
}
  
.nav-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px 37px;
    font: 700 16px/1.4 sans-serif;
    transform: rotate(-0.0025819962313032197rad);
    text-align: center;
}
  
.nav-menu {
    display: flex;
    gap: 100px;
    max-width: 915px;
    list-style-type: none;
}   

.nav-menu a {
    color: #000; 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: 700; 
    transition: transform 0.3s ease, font-size 0.3s ease;
    display: inline-block; 
    white-space: nowrap; 
}

.nav-menu a:hover {
    transform: scale(1.2); 
    font-size: 22px; 
}

.acceuil {
    position: relative;
    min-height: 732px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 67px 80px;
    margin-bottom: 130px;
}
  
.imageacceuil {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.texteacceuil {
    max-width: 85%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.titreacceuil {
    color: #030000;
    font: 500 60px/72px sans-serif;
    -webkit-text-stroke: 1px #000;
    transform: rotate(-0.148deg);
    margin-top: -50px; 
}

.soustitreacceuil {
    font: 700 48px/58px sans-serif;
    letter-spacing: -0.96px;
    margin-top: 25px;
    transform: rotate(-0.148deg);
    text-align: center;
}

.descriptionacceuil {
    color: #fff;
    font: 600 24px/34px sans-serif; 
    margin-top: 40px;
    align-self: stretch;
    transform: rotate(-0.0025819962313032197rad);
    text-align: center;
    letter-spacing: -0.15px;
    max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
}
  
.explorer {
    background-color: #34542a;
    color: #fff;
    border-radius: 6px;
    padding: 13px 42px;
    font: 700 16px/1.2 sans-serif;
    margin-top: 89px;
    box-shadow: 0 4px 4px #00000040;
    transform: rotate(-0.0025819962313032197rad);
    text-decoration: none; 
    transition: transform 0.9s ease, font-size 0.9s ease;
    font-size: 23px;
}

.explorer:hover {
    transform: scale(1.1); 
    font-size: 28px; 
}

.footer {
    background-color: #fff;
    text-align: center;
    padding: 105px 0;
    border: 1px solid #fff;
    transform: rotate(0.0025819962313032197rad);
}

.page2 {
    gap: 0px;
    display: flex;
}

.page2column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0;
    padding: 0;
}

.imagepeintre {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: left;
    width: 100%;
    max-width: 1011px;
    align-self: stretch;
    border-radius: 6px;
}

.page2titre {
    color: #34542a;
    letter-spacing: -0.96px;
    text-align: center;
    margin-bottom: 50px;
    font: 700 48px/1.2 Inter, sans-serif;
    background-color: #fff;
}

.page2fond {
    background-color: #d4c6a1; 
    padding: 25px;
    border-radius: 6px; 
    height: 100%;
}
    
.page2droite {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.author-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: right;
}

.page2description {
    position: relative;
    z-index: 10;
    border-radius: 0;
    max-width: 80%; 
    color: #000;
    letter-spacing: -0.48px;
    padding-top: -6px;
    font: 600 24px/29px Inter, sans-serif;
    text-align: center; 
    margin-left: 70px; 
    margin-top: 60px;
}

.page2collection {
    position: relative;
    color: #fff;
    text-align: center;
    letter-spacing: -0.48px;
    max-width: 252px;
    font: 600 20px/1.2 Inter, sans-serif;
}

.jardindescouleurspage2 {
    background-color: #34542a; 
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 30px 40px; 
    border-radius: 6px;
    font-weight: 700;
    transition: transform 0.9s ease, font-size 0.9s ease;
    white-space: nowrap; 
    margin-left: 195px; 
    margin-top: 30px;
    font-size: 23px;
}
    
.jardindescouleurspage2:hover {
    transform: scale(1.1); 
    font-size: 26px;
}
.headerpage3 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  letter-spacing: -0.48px;
  justify-content: center;
  padding: 100px 80px;
  font: 600 24px sans-serif;
}

.page3 {
  display: flex;
  width: 100%;
  max-width: 1226px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.page3titre {
  color: #030000;
  letter-spacing: -0.25px;
  font: 400 57px/64px sans-serif;
  margin-bottom: 21px;
  padding-left: 20px;
}

.page3barre {
  background-color: #34542a;
  align-self: flex-start;
  display: flex;
  width: 697px;
  max-width: 100%;
  height: 9px;
  margin-top: 0px;
  padding-left: 80px;
  margin-left: 20px;
  margin-bottom: 34px;
}

.page3description {
  color: #000;
  line-height: 29px;
  align-self: stretch;
  margin-top: 32px;
  padding-left: 95px;
}

.divider {
  width: 1069px;
  max-width: 100%;
  height: 1px;
  border: 1px solid #34542a;
  padding-left: 80px;
}

.page3nom {
  color: #34542a;
  -webkit-text-stroke: 1px #34542a;
  letter-spacing: 0;
  margin-top: 50px;
  font: 400 36px/44px sans-serif;
  align-self: flex-start;
  padding-left: 100px;
  margin-bottom: 0px;
}

.page3liste {
  display: flex;
  width: 100%;
  max-width: 1142px;
  gap: 40px 100px;
  color: #030000;
  flex-wrap: wrap;
  margin-top: 40px;
}

.page3groupe {
  align-self: flex-start;
  display: flex;
  gap: 40px 76px;
  line-height: 1.2;
  flex-wrap: wrap;
}

.page3oeuvre1 {
  flex-basis: auto;
  flex-grow: 1;
}

.page3oeuvre2 {
  flex-basis: auto;
}

.page3oeuvre3 {
  line-height: 29px;
  flex-grow: 1;
  width: 195px;
}

.page3oeuvre1, .page3oeuvre2, .page3oeuvre3 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }
  
.page3oeuvre1 p, .page3oeuvre2 p, .page3oeuvre3 p {
    margin: 0;
  }  

.oeuvre-image {
    width: 340px;
    height: 342px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px #00000033; 
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), box-shadow 0.6s ease;
}

.oeuvre-image:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px #0000004d;
}

.italic {
  font-style: italic;
}

.page4 {
  background-color: #fff;
  overflow: hidden;
}
.sectionpage4 {
  gap: 20px;
  display: flex;
}
.droitepage4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin: 0;
}
.nouveautepage4 {
  background-color: #b7a4754d;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
  font: 400 1rem/1.2 Inter, sans-serif;
  letter-spacing: -0.48px;
  justify-content: center;
  width: 100%;
  padding: 68px 80px;
}

.textepage4 {
  display: flex;
  width: 438px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
  padding-left: 40px;
}

.titrepage4 {
  color: #030000;
  letter-spacing: -0.25px;
  font: 400 57px/1 Roboto, sans-serif;
}

.soustitrepage4 {
  color: #34542a;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.96px;
  margin-top: -25px;
}

.descriptionpage4 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  align-self: stretch;
  margin-top: 48px;
}

.boutonpage4 {
    border-radius: 6px;
    background-color: #34542a;
    color: #fff;
    text-align: center;
    padding: 15px 44px;
    font-size: 24px; 
    font-weight: bold; 
    margin-top: 66px;
    margin-left: 5px; 
    transition: background-color 0.6s ease, transform 0.9s ease;
    border: none; 
    cursor: pointer; 
  }
  
.boutonpage4:hover {
    transform: scale(1.2); 
  }
  
.imagepage4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
